<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <h1>Awards</h1>
  <% awards.forEach(function(award) { %>
    <div class='awardContainer'>
      <div class='trophyImage' style='background-image:url("<%= award.trophySrc %>")'></div>
      <div class='awardInfo'>
        <div class='awardHeld'>The <%= award.name %> Award Currently Held By:</div>
        <div class='awardWinnerName'><%= award.rankings[0].name %></div>
        <div class='awardDescription'><%= award.description %>:</div>
        <div class="awardWinnerValue"><%= award.rankings[0].value %></div>
      </div>
      <div class='leaderBoardContainer'>
        <div class='title'>Leaderboard</div>
        <div class='leaderBoard'>
          <div class='tableRow'>
            <div class='tableCell colHeader'>Name</div>
            <div class='tableCell colHeader'>Value</div>
          </div>
          <% award.rankings.forEach(function(runnerUp) { %>
            <div class='tableRow'>
              <div class='tableCell runnerUpName'><%= runnerUp.name %></div>
              <div class='tableCell runnerUpValue'><%= runnerUp.value %></div>
            </div>
          <% }); %>
        </div>
      </div>
    </div>
  <% }); %>
</body>
</html>
